<template>
    <header>
      <h1>{{title}}</h1>
      <small>{{description || ''}}</small>
    </header>
</template>

<script>
export default {
    props: [
        'title',
        'description'
    ]
}
</script>

<style scoped>
  header {
    text-align: center;
    margin-bottom: 2em;
  }
</style>