<template>
  <nav class="navbar navbar-expand-lg bg-light justify-content-end">
    <ul class="navbar-nav">
      <li class="nav-item">
        <nuxt-link class="nav-link" exact active-class='active' aria-current="page" to="/">Home</nuxt-link>
      </li>
      <li class="nav-item">
        <nuxt-link class="nav-link" no-prefetch active-class='active' to="/news">News</nuxt-link>
      </li>
      <li class="nav-item">
        <nuxt-link class="nav-link" no-prefetch active-class='active' to="/about">About</nuxt-link>
      </li>
    </ul>
  </nav>
</template>

<style scoped>
  .nav-link {
    color: #505050
  }

  .nav-link:hover {
    color: #111;
  }

  .active {
    color: #111;
    border-bottom: 1px solid #0e771f;
  }
</style>