<template>
  <article>
    <div class="card">
      <img :src="theNews.imgUrl" class="card-img-top" :alt="theNews.alt">
      <div class="card-body">
        <h5 class="card-title">{{theNews.title}}</h5>
        <p class="card-text">{{theNews.content}}</p>
        <div v-if="!isSingle">
            <button class="btn btn-secondary" @click.prevent="openNews(theNews.id)">Read more</button>
        </div>
        <div v-else>
            <button class="btn btn-secondary" @click.prevent="returnBack()">Back to News</button>
            <button class="btn btn-secondary" :disabled="theNews.id-1 <= 0" @click.prevent="openNews(theNews.id-1)">Previously news</button>
            <button class="btn btn-secondary" :disabled="theNews.id+1 > totalCount" @click.prevent="openNews(theNews.id+1)">Next news</button>
        </div>
      </div>
    </div>
  </article>
</template>

<script>
export default {
    props: [
        'theNews',
        'isSingle'
    ],
    methods: {
        openNews(id) {
            this.$router.push('/news/' + id )
            this.$store.dispatch('news/findNewsById', id)
        },
        returnBack() {
          this.$router.push('/news')
        }
    },
    computed: {
      totalCount () {
            return this.$store.getters['news/getTotalCount']
        }
    }
}
</script>