<template>
    <TheNews :theNews="theNews" :isSingle="true"/>
</template>

<script>
import TheNews from "@/components/TheNews"
export default {
    components: {
        TheNews
    },
    computed: {
        theNews () {
            return this.$store.getters['news/getCurrentNews']
        }
    }
    
}
</script>