<template>
    <div>
        <Header title="News"/>
        <div>
            <div class="row">
                <TheNews v-for="theNews of news" :key="theNews.id" :theNews="theNews" :isSingle="false" class="col-md-4"/>
            </div>
        </div>
    </div>
</template>

<script>
import Header from '@/components/Header';
import TheNews from '@/components/TheNews';

export default {
  name: 'IndexPage',
  components: {
    Header,
    TheNews
  },
  fetch({store}) {
      if (store.getters['news/getNews'].length === 0){
          store.dispatch('news/downloadNews')
      }
  },
  computed: {
      news() {
          return this.$store.getters['news/getNews']
      }
  }
}
</script>