<template>
  <main>
    <Navbar />
    <div class="container">
      <section>
        <nuxt></nuxt>
      </section>
    </div>
    <Footer />
  </main>
</template>

<script>
import Navbar from '@/components/Navbar'
import Footer from '@/components/Footer'
export default {
  name: 'DefaultLayout',
  components: {
    Navbar,
    Footer
  }
}
</script>

<style scoped>
  section {
    padding: 2em;
  }
</style>
