<template>
  <div>
    <Header title="Anna's news"/>
    <p>
      This is a new progressive blog with the latest world information.
    </p>
    <p>
      If you don't want to search for the latest news, welcome! You'll find everything here
    </p>
  </div>
</template>

<script>
import Header from '@/components/Header';
export default {
  name: 'IndexPage',
  components: {
    Header
  }
}
</script>