<template>
  <div>
    <Header 
    title="Welcome to Homework2" 
    description="Here you can see how Anna is learning new technologies: Vue and Nuxt"
    />
    <p>
      So. You can see some pages: "Home" (you are here now), "News" and "About"
    </p>
    <p>
      On the News page you will find a list of news and information about each of them
    </p>
  </div>
</template>

<script>
import Header from '@/components/Header';
export default {
  name: 'IndexPage',
  components: {
    Header
  }
}
</script>

